/Version 6/Projet/nbproject/private/
/Version 6/Projet/build/
/Version 6/Projet/nbbuild/
/Version 6/Projet/dist/
/Version 6/Projet/nbdist/
/Version 6/Projet/nbactions.xml
/Version 6/Projet/nb-configuration.xml
/Version 6/Projet/.nb-gradle/